.section {
  background-color: var(--secondary);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  align-items: center;
}

/*****************
TITLE
*****************/

.title {
  margin: 0 5rem 0 5rem;
  font-family: var(--serif);
  color: var(--text);
  font-weight: 300;
  font-size: var(--heading);
  text-orientation: upright;
  writing-mode: vertical-lr;
  letter-spacing: -1rem;
  border: 0.5px solid var(--text);
  padding: 0.2rem 0 2rem 0;
}

/*****************
PROJECT
*****************/

.projCont {
  height: 90vh;
  width: 70vw;
  background-image: linear-gradient(#f5f4f4, rgba(25, 0, 0, 0));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoCont {
  height: fit-content;
  width: fit-content;
}

.logo {
  height: 50px;
  width: auto;
  margin: 0 0 0 4rem;
}

.textCont {
  height: 20vh;
  width: 60vw;
}

.textCont h3 {
  text-align: center;
  font-family: var(--serif);
  font-size: var(--h1);
  color: var(--text);
}

.copy {
  width: 50vw;
  font-size: var(--body);
  font-family: var(--sans);
  color: var(--text);
  text-align: center;
  margin: -30px auto 0 auto;
}

.smallText {
  font-size: var(--body);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-content: center;
}

.smallText p {
  margin: 20px 0 0 0;
}

.listCont {
  display: flex;
  flex-direction: row;
}

.feList,
.beList {
  color: var(--text);
  background-color: #c0d8e960;
  font-family: var(--sans);
  margin: 0 30px 0 20px;
  list-style: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width: 10vw;
  text-align: center;
}

.feList li,
.beList li {
  margin-top: 3px;
  color: var(--tertiary);
  font-size: var(--label);
}

.feList p,
.beList p {
  margin-top: 3px;
  margin-bottom: 5px;
  color: var(--tertiary);
}

/*********************************
MOBILE
**********************************/

@media only screen and (max-width: 500px) {
  .section {
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
  }

  .title {
    text-orientation: unset;
    writing-mode: unset;
    letter-spacing: 2px;
    padding: 0.2rem;
    font-size: 56px;
    font-weight: 400;
    margin: 1.5rem auto 1rem auto;
  }

  .projCont {
    width: 90vw;
  }

  .videoCont {
    margin: 2rem auto 1rem auto;
  }

  .logo {
    margin: 0 auto 0 auto;
  }

  .textCont {
    height: 60vh;
    width: 85vw;
    text-align: center;
  }

  .smallText {
    flex-direction: column;
    align-items: center;
  }

  .copy {
    width: 80vw;
  }

  .listCont {
    margin-top: 1.5rem;
  }

  .feList {
    margin: 0 0.75rem 0 0;
  }

  .beList {
    margin: 0 0 0 0.75rem;
  }

  .feList,
  .beList {
    width: 35vw;
  }
}
