.section {
  background-color: var(--white);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************
MAIN CONTAINER
***********************/

.contactMain {
  height: 80vh;
  width: 80vw;
  background-color: var(--tertiary);
  border-radius: 10px;
}

.title {
  font-family: var(--serif);
  font-size: var(--h1);
  font-weight: 400;
  color: var(--white);
  margin: 30px 0 40px 90px;
  width: 15vw;
}

.contactCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/**********************
FORM
***********************/

.reactForm {
  height: 60vh;
  width: 30vw;
  background-color: var(--white);
}

.map {
  height: 60vh;
  width: 30vw;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textCont {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
}

/**********************
MAP
***********************/

.mapH {
  font-family: var(--sans);
  font-weight: 300;
  color: var(--text);
  margin: 30px auto 0 auto;
}

.mapP {
  font-family: var(--sans);
  font-weight: 300;
  color: var(--tertiary);
  margin: 30px auto 0 auto;
}

/*********************************
MOBILE
**********************************/

@media only screen and (max-width: 500px) {
  .section {
    background-color: var(--tertiary);
  }

  .contactMain {
    height: 100vh;
    width: 100vw;
  }

  .title {
    width: 60vw;
    margin: 2rem 0 1rem 2.5rem;
  }

  .contactCont {
    flex-direction: column;
    align-items: center;
  }

  .reactForm {
    height: 43vh;
    width: 80vw;
  }
  .map {
    height: 38vh;
    width: 80vw;
    margin-top: 1rem;
  }

  .mapH {
    margin: 10px auto 0 auto;
    font-size: 18px;
  }

  .mapP {
    margin: 10px auto 0 auto;
    font-size: 16px;
  }
}
